.filter-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: sizes.$Spacing-1;

  input {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .filter-container {
    flex-direction: row;
  }
}