.filter-container {
  display: block;
  margin: 0 auto;
  padding: $Spacing-2 0;

  input {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .filter-container {
    display: flex;
    gap: $Spacing-2;
  }
}