.card {
  border-radius: sizes.$c-BorderRadius;
  width: sizes.$c-Width;
  overflow: hidden;

  .card__header {
    background-color: colors.$blue;
    height: 77px;
    color: colors.$white;
    padding: sizes.$c-Padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button img {
      width: 30px;
      &:hover {
        opacity: 0.8;
      }
    }

    .card__title {
      margin: 0;
      font-size: sizes.$TextMedium;
    }
  }

  .card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: colors.$greyBlue;
    height: calc(250px - 77px);
    color: colors.$black;
    padding: sizes.$c-Padding;

    ul {
      padding: 0 0 sizes.$c-Padding 0;
      overflow-y: scroll;

      li {
        word-wrap: break-word;
        hyphens: auto;
        a {
          color: colors.$teal;

          &:hover {
            color: colors.$blue; 
          }
        }
        span {
          font-weight: 600;
        }
        font-size: sizes.$TextDefault;
      }
    }

    .more-info-btn {
      border: 0;
      background-color: transparent;
      padding: 0;
      color: colors.$navy;
      font-size: 16px;
      text-align: center;

      &:hover {
        color: colors.$blue;
      }
    }
  }
}
