.page-container__backdrop-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100px;
    animation: opacity 1s linear alternate infinite;
    offset-path: path("M 10 50 L 110 50 Q 80 45 70 40 Q 60 50 30 40");
  }
}

@keyframes opacity {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
