.item-information {
  height: 70%;
  width: 100%;
  margin: 0 auto;
}

.item-information__container {
  margin: 0 auto;
  width: auto;
  border-radius: $c-BorderRadius;
  padding: $Spacing-2;
  overflow-y: auto;
  height: 100%;
  
  li {
    padding: $Spacing-1 0;
  }

  span {
    color: $darkOrange;
    font-weight: 500;
  }
  p {
    margin-left: $Spacing-1;

    a {
      color: $teal;
      &:hover {
        color: $lightBlue;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .item-information {
    height: 65%;
    width: 50%;
    margin: 0 auto;
  }
}