.breadcrumbs {
  padding: sizes.$Spacing-2;

  ul {
    display: flex;
    align-items: center;
    gap: sizes.$Spacing-2;

    span, svg {
      height: sizes.$Spacing-2;
    }

    .breadcrumb-item {
      text-decoration: none;
      color: colors.$teal;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        color: colors.$lightBlue;
      }
    }
  }
}