.breadcrumbs {
  padding: $Spacing-2;

  ul {
    display: flex;
    align-items: center;
    gap: $Spacing-2;

    span, svg {
      height: $Spacing-2;
    }

    .breadcrumb-item {
      text-decoration: none;
      color: $teal;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        color: $lightBlue;
      }
    }
  }
}