$c-Width: 250px;
$TextMedium: 24px; // 24px
$TextLarge: 32px; // 32px
$TextDefault: 16px; // 16px
$TextSmall: 14px;
$c-BorderRadius: 16px;
$c-Padding: 16px; // 16px
$Spacing-1: 8px; // 8
$Spacing-2: $Spacing-1 + 8px; // 16
$Spacing-3: $Spacing-2 + 8px; // 24
$Spacing-4: $Spacing-3 + 8px; // 32
