.main-nav {
  display: block;
  padding: $Spacing-2;
  .logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu {
    display: block;
  }
  .main-nav-logo {
    &:hover {
      opacity: 0.8;
    }
  }
  ul {
    display: none;
    &.nav-open {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .main-nav-item {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      gap: 10px;
      span {
        height: 30px;
        svg {
          height: 100%;
          width: auto;
        }
      }
      &:hover {
        color: $lightBlue;
        svg path {
          color: $lightBlue;
          fill: currentColor;
        }
      }
      svg path {
        color: $white;
        fill: currentColor;
      }
      &.active {
        color: $navy;
        svg path {
          color: $navy;
          fill: currentColor;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-around;
    padding: $Spacing-2;
    .mobile-menu {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $Spacing-3;
    }
  }
}
