.main-nav {
  display: block;
  padding: sizes.$Spacing-2;
  .logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .mobile-menu {
    display: block;

    svg {
      height: 30px;
      circle {
        color: colors.$orange;
        fill: currentColor;
        stroke: colors.$black;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .main-nav-logo {
    &:hover {
      opacity: 0.8;
    }
  }
  ul {
    display: none;
    &.nav-open {
      display: flex;
      flex-direction: column;
      .main-nav-item {
        width: fit-content;
        flex-direction: row-reverse;
        align-items: center;
        padding: sizes.$Spacing-1 0;
        svg, span {
          width: 20px;
          height: auto;
        }
      }
    }
    .main-nav-item {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: colors.$white;
      gap: 10px;
      span {
        height: 50px;
        svg {
          height: 100%;
          width: auto;
        }
      }
      svg path {
        color: colors.$white;
        stroke: transparent;
        fill: currentColor;
      }
      &:hover {
        color: colors.$darkOrange;
        svg path {
          color: colors.$darkOrange;
          fill: currentColor;
        }
      }
      &.active {
        color: colors.$darkOrange;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        svg path {
          color: colors.$orange;
          fill: currentColor;
          stroke: colors.$black;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-around;
    padding: sizes.$Spacing-2;
    .mobile-menu {
      display: none;
    }
    ul.nav-open, ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: sizes.$Spacing-3;
    }
  }
}
