.empty-search, .error-search {
  text-align: center;
  padding: sizes.$Spacing-3;
  height: 70%;

  h1 {
    font-size: sizes.$TextLarge;
  }
  h2 {
    font-size: sizes.$TextMedium;
  }
  svg {
    width: 100px;
    height: auto;
    path {
      color: colors.$white;
      fill: currentColor;
    }
  }
}

@media screen and (min-width: 768px) {
  .empty-search, .error-search {
    svg {
      width: 150px;
    }
  }
}